@charset "utf-8";
/* CSS Document */
body{
	background: rgb(68,4,18); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(68,4,18,1) 0%, rgba(130,60,9,1) 37%, rgba(156,84,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,4,18,1)), color-stop(37%,rgba(130,60,9,1)), color-stop(100%,rgba(156,84,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440412', endColorstr='#9c540a',GradientType=0 ); /* IE6-9 */

color:white;
font-family: 'Salsa', cursive;

	}
footer, header, section{
	
	margin:0 auto;
	width:90%;
	}
header{
	/*background:red;*/
	height:280px;
	margin-top:20px;
	
	}
header div div{
	margin-top:100px;
	text-align:center;
	position:absolute;
	z-index:1;
	}
header div div h2, h1{
	color:#FF9900;
	font-family: 'Slackey', cursive;
	
	margin-top:20px;
	margin-left:25px;
	padding:0;
	text-shadow:2px 2px 0px black;
	}
header div div h2{
	color:white;
	font-family: 'Salsa', cursive;
	margin-top:-30px;
	}
	
header div img{
	transition:1s;
	
	}
header div img:hover{
	transform:rotate(50deg);
	}
	
header div#logo img{
	margin-top:-155px;
	margin-left:100px;
	position:absolute;
	}
	
header nav{
	float:right;
	}
header nav ul {margin-right:10px;}
header nav ul li{
			background: rgb(140,33,13); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(140,33,13,1) 0%, rgba(87,7,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,33,13,1)), color-stop(100%,rgba(87,7,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(140,33,13,1) 0%,rgba(87,7,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(140,33,13,1) 0%,rgba(87,7,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(140,33,13,1) 0%,rgba(87,7,0,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(140,33,13,1) 0%,rgba(87,7,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c210d', endColorstr='#570700',GradientType=0 ); /* IE6-9 */

	border-radius:5px;
	/*height:25px;*/
	list-style:url("estiloLista.png");
	list-style-position:inside;
	margin-left:40px;
	margin-top:5px;
	padding:5px 20px;
	transition:0.5s;
	
	}
header nav ul li:hover{
	transform:scale(1.2,1.2);
	}	
header nav ul li a{
	
	color:white;

	text-decoration:none;
	transition:0.5s;
	}
header nav ul li a:hover{
	
	color:#FF9900;
	
	}
#circulitos{
	/*background:url("circulitos.png") no-repeat center top;*/
	height:130px;
	margin-top:-20px;
	position:absolute;
	width:40%;
	z-index:1;
	}
#circulitos .circulo{
	
	border:rgba(102,0,0,0.5) solid 3px;
	border-radius:26px;
	box-shadow:0px 0px 10px #FF9900;
	display:inline-block;
	height:50px;
	transition:0.5s;
	width:50px;

	}
#circulitos .circulo:hover{
	transform:scale(1.2,1.2);
	
	}
#circulitos .circulo#uno{
	background:url("circulo1.jpg");
	
	}
#circulitos .circulo#dos{
	background:url("circulo2.jpg");
	margin-left:-20px;
	position:relative;
	top:20px;
	
	}
#circulitos .circulo#tres{
	background:url("circulo3.jpg");
	}
#circulitos .circulo#cuatro{
	background:url("circulo4.jpg");
	margin-left:-20px;
	position:relative;
	top:20px;
	}
#circulitos .circulo#cinco{
	background:url("circulo5.jpg");
	}
#contenido{
	background:url("chica.png")no-repeat 50px 3px;
	background-color:white;
	border-radius:100px 0px 30px 30px;
	box-shadow:5px 5px 20px #CCCCCC inset;
	height:700px;
	margin-bottom:20px;
	
	}
#contenido .derecha{
	
	background: rgb(68,4,18); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(68,4,18,1) 0%, rgba(130,60,9,1) 37%, rgba(156,84,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,4,18,1)), color-stop(37%,rgba(130,60,9,1)), color-stop(100%,rgba(156,84,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(68,4,18,1) 0%,rgba(130,60,9,1) 37%,rgba(156,84,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440412', endColorstr='#9c540a',GradientType=0 ); /* IE6-9 */
	
	border-radius:100px 0px 20px 0px;
	border-top:solid 10px #FF9933;
	box-shadow:-5px -5px 5px #FF9900;
	float:right;
	height:530px;
	min-height:530px;
	margin-top:30px;
	margin-right:15px;
	width:70%;
	behavior:url("PIE.htc");
	}
#contenido .izquierda{
	background:#570700;
	border-radius:40px 0px 0px 40px;
	box-shadow:1px 1px 10px #660000;
	width:34%;
	height:500px;
	left:80px;
	top:400px;
	padding:2%;
	position:absolute;
	behavior:url("PIE.htc");
	}
#contenido .izquierda h3#b{
	color:#FC0;
	font-size:40px;
	text-shadow:2px 3px 5px black, 3px 4px 5px white, 5px 5px 5px #FC0;
	transform:rotate(-5deg) translate(20px,10px);
	}
#contenido .izquierda p{
	font-size:18px;
	text-align:justify;
	text-shadow:-2px -2px 5px #CCCCCC;
	
	}
	
#contenido .izquierda button{
	background:#F90;
	border:none;
	border-bottom:10px #FFFF00 groove;
	border-radius:20px;
	color:white;
	cursor:pointer;
	float:right;
	margin-right:-6%;
	padding:5px 10px;
	transition:0.3s;
	width:150px;
	
	}
#contenido .izquierda button:hover{
	background:#F60;
	box-shadow:0px 0px 10px black;
	color:black;
	
	}
#contenido .derecha .servicios{
	background: rgb(254,170,48); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,170,48,1) 0%, rgba(255,193,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,170,48,1)), color-stop(100%,rgba(255,193,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,170,48,1) 0%,rgba(255,193,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,170,48,1) 0%,rgba(255,193,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,170,48,1) 0%,rgba(255,193,30,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(254,170,48,1) 0%,rgba(255,193,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feaa30', endColorstr='#ffc11e',GradientType=0 ); /* IE6-9 */

	border-radius:0px 0px 20% 0px;
	float:right;
	padding:10px;
	text-shadow:1px 1px 5px #999999;
	position:relative;
	behavior:url("PIE.htc");
	}
#contenido .derecha .servicios li{
	color:#600;
	list-style:square;
}
#contenido .derecha .servicios h2{
	border-bottom: 2px solid #600;
	color:#600;
	text-align:center;
	
}
#contenido .derecha #horarios{
	/*margin-top:20%;*/
	margin-top:1%;
	position:absolute;
	margin-left:13%;
	
	width:50%;
	}
#contenido .derecha .horario:hover{
	transform:scale(1.1,1.1);
}
#contenido .derecha .horario{
	background: -moz-linear-gradient(-45deg,  rgba(252,170,47,0.5) 0%, rgba(255,194,40,0.51) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,170,47,0.5)), color-stop(100%,rgba(255,194,40,0.51))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(252,170,47,0.5) 0%,rgba(255,194,40,0.51) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(252,170,47,0.5) 0%,rgba(255,194,40,0.51) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(252,170,47,0.5) 0%,rgba(255,194,40,0.51) 100%); /* IE10+ */
background: linear-gradient(-45deg,  rgba(252,170,47,0.5) 0%,rgba(255,194,40,0.51) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fcaa2f', endColorstr='#82ffc228',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	border-radius:0px 0px 20px 0px;
	box-shadow:2px 2px 5px black;
	margin-top:30px;
	text-align:center;
	text-shadow:1px 1px 0px black;
	padding:1px 10px;
	transition:0.3s ease-in;
	width:30%;
		}
.horario h3{
	color:#630;
	}
#headerMenu{
	
	
	background:url("spa.jpg") no-repeat left ;
	background-color:white;
	border-radius:10px 30px 0px 10px;
	float:right;
	height:280px;
	left:45%;
	margin-top:20px;
	position:absolute;
	top:0px;
	width:50%;
	behavior:url("PIE.htc");
	}
#imagenes{
	
	/*background:url("imagen1.jpg")  no-repeat center;*/
	/*background-color:#F90;*/
	border:5px #FC0 solid;
	border-radius:20px 0px 0px 20px;
	box-shadow:0px 0px 20px #FF9900 inset;
	/*height:40%;*/
	height:300px;
	margin-left:25%;
	margin-top:300px;
	
	width:80%;
	
	
	}	
#imagenes img{
	border-radius:20px;
	
	}
	
#local{
	background:url("local.jpg") no-repeat right top;
	background-color:#FF9900;
	border-radius:0px 100px 0px 40px;
	margin-left:-6%;
	margin-top:100px;
	padding:6%;
	position:relative;
	width:100%;
	behavior:url("PIE.htc");
	}
#local h3{
	color:#660000;
	font-size:15px;
	text-decoration:underline;
	margin-top:-10px;
	}
	
#ornamento{
	background:url("ornamento.png") no-repeat center top;
	height:320px;
	margin-left:25%;
	width:170px;
	position:absolute;
	
	}
	
	
	
	
	
	
	
	